table, th, td {
  border: 1px solid orange;
  /*border-collapse: collapse;*/
}
table {
  border-spacing: 10px;
  background-color: #f1f1c1;
}
tr:nth-child(even) {
  background-color: #eee;
}
tr:nth-child(odd) {
  background-color: #fff;
}
th {
  background-color: black;
  color: white;
}
